body {

      background: var(--bs-gray-dark);

      color: #fff;

    }

    .navbar-toggler {

      display: none;

    }

    .hero {

      margin-top: 5%;

    }

    .commands {

      margin-top: 100px;

    }

    .commands .title {

      position: relative;

      margin-bottom: 40px;

      padding-bottom: 25px;

      text-transform: uppercase;

      font-weight: 700;

      color: white;

    }

    .commands .title:before {

      content: "";position: absolute;

      bottom: 0;

      left: 50%;

      transform: translateX(-50%);

      width: 140px;

      height: 1px;

      background-color: #f70037;

    }

    .commands .title:after {

      content: "";

      position: absolute;

      bottom: -1px;

      left: 50%;

      transform: translateX(-50%);

      width: 45px;

      height: 3px;

      background-color: #f70037;

    }

    @media only screen and (max-width: 630px) {

      .navbar-toggler {

        display: inherit;

      }

      .nav-links {

        display: none !important;

      }

    }

    #features {

      margin-top: 100px;

    .section-features {

      padding-top: 110px;

      padding-bottom: 120px;

      background-color: #211f24;

      color: #fff;

    }

    .section-features .header-section {

      margin-bottom: 35px;

    }

    .section-features .header-section .title {

      position: relative;

      margin-bottom: 40px;

      padding-bottom: 25px;

      text-transform: uppercase;

      font-weight: 700;

    }

    .section-features .header-section .title:before {

      content: "";

      position: absolute;

      bottom: 0;

      left: 50%;

      transform: translateX(-50%);

      width: 140px;

      height: 1px;

      background-color: #f70037;

    }

    .section-features .header-section .title:after {

      content: "";}

      position: absolute;

      bottom: -1px;

      left: 50%;

      transform: translateX(-50%);

      width: 45px;

      height: 3px;

      background-color: #f70037;

    }

    .section-features .header-section .title span {

      color: #f70037;

    }

    .section-features .header-section .description {

      color: #6f6f71;

    }

    .section-features .single-service {

      margin-top: 40px;

      background-color: #24252a;

      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);

    }

    .section-features .single-service .part-1 {

      padding: 40px 40px 25px;

      border-bottom: 2px solid #1d1e23;

    }.section-features .single-service .part-1 i {

      margin-bottom: 25px;

      font-size: 50px;

      color: #f70037;

    }

    .section-features .single-service .part-1 .title {

      font-size: 17px;

      font-weight: 700;

      letter-spacing: 0.02em;

      line-height: 1.8em;

    }

    .section-features .single-service .part-2 {

      padding: 30px 40px 40px;

    }

    .section-features .single-service .part-2 .description {

      margin-bottom: 22px;

      color: #6f6f71;

      font-size: 14px;line-height: 1.8em;

    }

    .section-features .single-service .part-2 a {

      color: #fff;

      font-size: 14px;

      text-decoration: none;

    }

    .section-features .single-service .part-2 a i {

      margin-right: 10px;

      color: #f70037;

    }

    .footer {

      background: #192027;

      text-align: center;

      padding: 32px 0;

    }
.footer p {

      margin: 0;

      line-height: 26px;

      font-size: 15px;

      color: #999;

    }

    .footer p a {

      color: #5867dd;

      text-decoration: none;

.footer p {

      margin: 0;

      line-height: 26px;

      font-size: 15px;

      color: #999;

    }

    .footer p a {

      color: #5867dd;

      text-decoration: none;

}

    .footer p a:hover {

      color: #34bfa3;

    }

    ::-webkit-scrollbar {

      width: 15px;

    }

    ::-webkit-scrollbar-track {

      background: #192027;

    }

    ::-webkit-scrollbar-thumb {

      background: #5867dd;

      border-radius: 20px;

    }

    ::-webkit-scrollbar-thumb:hover {

      background: #414ca1;

    }

    .btn-secondary:hover {

    background-color: #1D1E21;

    background-color: rgba(88, 101, 242, .7);

.tooltip {

  position: relative;

  display: inline-block;

}

.tooltip .tooltiptext {

  visibility: hidden;

  width: 140px;

  background-color: #555;

  color: #fff;

.footer p {

      margin: 0;

      line-height: 26px;

      font-size: 15px;

      color: #999;

    }

    .footer p a {

      color: #5867dd;

      text-decoration: none;

}

    .footer p a:hover {

      color: #34bfa3;

    }

    ::-webkit-scrollbar {

      width: 15px;

    }

    ::-webkit-scrollbar-track {

      background: #192027;

    }

    ::-webkit-scrollbar-thumb {

      background: #5867dd;

      border-radius: 20px;

    }

    ::-webkit-scrollbar-thumb:hover {

      background: #414ca1;

    }

    .btn-secondary:hover {

    background-color: #1D1E21;

    background-color: rgba(88, 101, 242, .7);

.tooltip {

  position: relative;

  display: inline-block;

}

.tooltip .tooltiptext {

  visibility: hidden;

  width: 140px;

  background-color: #555;

  color: #fff;

  border-radius: 6px;

  padding: 5px;

  position: absolute;

  z-index: 1;

  bottom: 150%;

  left: 50%;

  margin-left: -75px;

  opacity: 0;

  transition: opacity 0.3s;

}

.tooltip .tooltiptext::after {

  content: "";

  position: absolute;

  top: 100%;

  left: 50%;

  margin-left: -5px;

  border-width: 5px;

  border-style: solid;

  border-color: #555 transparent transparent transparent;

}

.tooltip:hover .tooltiptext {

  visibility: visible;

  opacity: 1;

.footer p {

      margin: 0;

      line-height: 26px;

      font-size: 15px;

      color: #999;

    }

    .footer p a {

      color: #5867dd;

      text-decoration: none;

}

    .footer p a:hover {

      color: #34bfa3;

    }

    ::-webkit-scrollbar {

      width: 15px;

    }

    ::-webkit-scrollbar-track {

      background: #192027;

    }

    ::-webkit-scrollbar-thumb {

      background: #5867dd;

      border-radius: 20px;

    }

    ::-webkit-scrollbar-thumb:hover {

      background: #414ca1;

    }

    .btn-secondary:hover {

    background-color: #1D1E21;

    background-color: rgba(88, 101, 242, .7);

.tooltip {

  position: relative;

  display: inline-block;

}

.tooltip .tooltiptext {

  visibility: hidden;

  width: 140px;

  background-color: #555;

  color: #fff;

  border-radius: 6px;

  padding: 5px;

  position: absolute;

  z-index: 1;

  bottom: 150%;

  left: 50%;

  margin-left: -75px;

  opacity: 0;

  transition: opacity 0.3s;

}

.tooltip .tooltiptext::after {

  content: "";

  position: absolute;

  top: 100%;

  left: 50%;

  margin-left: -5px;

  border-width: 5px;

  border-style: solid;

  border-color: #555 transparent transparent transparent;

}

.tooltip:hover .tooltiptext {

  visibility: visible;

  opacity: 1;

text-align: center;

    }

.notification-top-bar {

  position: fixed;

  top: 0;

  left: 0;

  height: 40px;

  line-height: 40px;

  width: 100%;

  background: #1ABC9C;

  text-align: center;

  color: #FFFFFF;

  font-family: sans-serif;

  font-weight: lighter;

  font-size: 14px;

}

.notification-top-bar p {

  padding: 0;

  margin: 0;

}

.notification-top-bar p a {

  padding: 5px 10px;

  border-radius: 3px;

  background: #FFF;

  color: #1ABC9C;

  font-weight: bold;

  text-decoration: none;    }

.lp {

  background: #0275dd

    }

 hotline-phone-ring-wrap { position: fixed; bottom: 0; left: 0; z-index: 999999;}.hotline-phone-ring { position: relative; visibility: visible; background-color: transparent; width: 110px; height: 110px; cursor: pointer; z-index: 11; -webkit-backface-visibility: hidden; -webkit-transform: translateZ(0); transition: visibility .5s; left: 0; bottom: 0; display: block;}.hotline-phone-ring-circle {	width: 85px; height: 85px; top: 10px; left: 10px; position: absolute; background-color: transparent; border-radius: 100%; border: 2px solid #e60808; -webkit-animation: phonering-alo-circle-anim 1.2s infinite ease-in-out; animation: phonering-alo-circle-anim 1.2s infinite ease-in-out; transition: all .5s; -webkit-transform-origin: 50% 50%; -ms-transform-origin: 50% 50%; transform-origin: 50% 50%; opacity: 0.5;}.hotline-phone-ring-circle-fill {	width: 55px; height: 55px; top: 25px; left: 25px; position: absolute; background-color: rgba(230, 8, 8, 0.7); border-radius: 100%; border: 2px solid transparent; -webkit-animation: phonering-alo-circle-fill-anim 2.3s infinite ease-in-out; animation: phonering-alo-circle-fill-anim 2.3s infinite ease-in-out; transition: all .5s; -webkit-transform-origin: 50% 50%; -ms-transform-origin: 50% 50%; transform-origin: 50% 50%;}.hotline-phone-ring-img-circle {	background-color: #e60808;	width: 33px; height: 33px; top: 37px; left: 37px; position: absolute; background-size: 20px; border-radius: 100%; border: 2px solid transparent; -webkit-animation: phonering-alo-circle-img-anim 1s infinite ease-in-out; animation: phonering-alo-circle-img-anim 1s infinite ease-in-out; -webkit-transform-origin: 50% 50%; -ms-transform-origin: 50% 50%; transform-origin: 50% 50%; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; align-items: center; justify-content: center;}.hotline-phone-ring-img-circle .pps-btn-img {	display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex;}.hotline-phone-ring-img-circle .pps-btn-img img {	width: 20px;	height: 20px;}.hotline-bar { position: absolute; background: rgba(230, 8, 8, 0.75); height: 40px; width: 180px; line-height: 40px; border-radius: 3px; padding: 0 10px; background-size: 100%; cursor: pointer; transition: all 0.8s; -webkit-transition: all 0.8s; z-index: 9; box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.1);100% { -webkit-transform: rotate(0) scale(1) skew(1deg); -webkit-opacity: 0.1; }}@-webkit-keyframes phonering-alo-circle-fill-anim { 0% { -webkit-transform: rotate(0) scale(0.7) skew(1deg); opacity: 0.6; } 50% { -webkit-transform: rotate(0) scale(1) skew(1deg); opacity: 0.6; } 100% { -webkit-transform: rotate(0) scale(0.7) skew(1deg); opacity: 0.6; }}@-webkit-keyframes phonering-alo-circle-img-anim { 0% { -webkit-transform: rotate(0) scale(1) skew(1deg); } 10% { -webkit-transform: rotate(-25deg) scale(1) skew(1deg); } 20% { -webkit-transform: rotate(25deg) scale(1) skew(1deg); } 30% { -webkit-transform: rotate(-25deg) scale(1) skew(1deg); } 40% { -webkit-transform: rotate(25deg) scale(1) skew(1deg); } 50% { -webkit-transform: rotate(0) scale(1) skew(1deg); } 100% { -webkit-transform: rotate(0) scale(1) skew(1deg); }}@media (max-width: 768px) { .hotline-bar { display: none; }}

view rawtao-nut-goi-dien-cho-web-css hosted with ❤ by GitHub

Chèn nút gọi điện cho web qua Google Tag Manager

Nếu bạn nào đã cài đặt Google Tag Manager cho web rồi thì có thể sử dụng đoạn code dưới đây và chèn vào web thông qua thẻ HTML Tùy Chỉnh.

<style>.hotline-phone-ring-wrap { position: fixed; bottom: 0; left: 0; z-index: 999999;}.hotline-phone-ring { position: relative; visibility: visible; background-color: transparent; width: 110px; height: 110px; cursor: pointer; z-index: 11; -webkit-backface-visibility: hidden; -webkit-transform: translateZ(0); transition: visibility .5s; left: 0;

} 100% { -webkit-transform: rotate(0) scale(0.7) skew(1deg); opacity: 0.6; }}@-webkit-keyframes phonering-alo-circle-img-anim { 0% { -webkit-transform: rotate(0) scale(1) skew(1deg); } 10% { -webkit-transform: rotate(-25deg) scale(1) skew(1deg); } 20% { -webkit-transform: rotate(25deg) scale(1) skew(1deg); } 30% { -webkit-transform: rotate(-25deg) scale(1) skew(1deg); } 40% { -webkit-transform: rotate(25deg) scale(1) skew(1deg); } 50% { -webkit-transform: rotate(0) scale(1) skew(1deg); } 100% { -webkit-transform: rotate(0) scale(1) skew(1deg); }}@media (max-width: 768px) { .hotline-bar { display: none; }}

    #banner{ position: fixed; float: initial; z-index: 999; width:1900px; height:100px; background:blue; }

    #custom {

      margin-top: 0px;

    }

    .custom15 {

      padding-top: 1px;

      padding-bottom: 0px;

      background-color: #ff1a1a;

      color: #fff;

    }
